<aside>
	<div class="panel radius">
		<h3>Ramblings & Shenanigans</h3>
		<p>
			The blog entries listed here are just a bunch of random ramblings & shennanigans. The ramblings are mostly related to my smart home setup, and there is no order to these entries. Some of them are just cheatsheets, some of them I document here, so that I can use it at a later time for my own reference.
		</p>
		<p>
			If there are any specific topics that you are interested, or would like to share your project, please drop me a note.
		</p>
	</div>
</aside>