<aside>
	<div class="panel radius">
		<h3>Jinja Code</h3>
		<p><a target="_blank" href="http://jinja.pocoo.org/docs/2.10/">Jinja2</a> is a templating language for python, and is used heavily in the Home Assistant. There are a few ways you can run jinja code.</p>
		<ul>
			<li>Using python directly</li>
			<li>Using Home Assistant's Template Editor</li>
		</ul>
		<p>If you are testing plain jinja logic, you can test it using either options. But, if you are testing jinja code that uses Home Assistant's 
		domain objects, <strong>you have to</strong> test it using the template editor.</p>
		<p>You can find that template editor by clicking on the hamburger icon on 
		the top left of your Home Assistant instance, Under Developer Tools, click on Templates icon. You will see a page with some code. </p>
		<p>You can safely delete that code and paste any jinja2 code there, it should render the output on the right side of the page.</p>
	</div>
</aside>