<aside>
	<div class="panel radius">
		<h3>Jinja Code</h3>
		<p>
			Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quasi, consequuntur? Ea ipsum animi quia accusamus! Aut commodi, adipisci, cupiditate voluptatum ipsum sint ipsa rerum, facilis harum asperiores laborum explicabo id.
		</p>
		<p>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi recusandae, magnam modi sint delectus illo perspiciatis maiores quia ea sequi. Dolores nobis reprehenderit fuga perferendis est itaque iste quos expedita.
		</p>
	</div>
</aside>