<aside>
	<div class="panel radius">
		<h3>Please Note</h3>
		<p>
			The ideas listed on this page <strong>do not</strong> necessarily have all the implementation details such as scripts, and code. This is a list of all possible automations for a specific category, and 
			is purely meant to "promote" creative thinking among the home-automation enthusiasts, and come up with better set of automations for everyone to use 😂
		</p>
		<p>
			If you think any critical automations are missing, or you have better automations that you would like to share, <a target="_blank" href="https://github.com/awesome-automations/home/issues/new">please click here!</a>
		</p>
	</div>

	<iframe src="//rcm-na.amazon-adsystem.com/e/cm?o=1&p=288&l=ur1&category=amz_dvcs_oct2018_sh&banner=1QGFTZR7VA4F849H4Z82&f=ifr&linkID=b1ca740fb593aaa518a76cb32eeedec6&t=skalavala-20&tracking_id=skalavala-20" width="320" height="50" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0"></iframe>
</aside>